<!DOCTYPE html>
<head>
		<title>Twitter Feed Clone</title>
		<link rel="stylesheet" type="text/css" href="layout.css">
		<meta charset='utf-8'>
</head>

<body>
	
	<header>
		
	<div class='left'>
			<a href="#">
				<img src="images/HomeLogo.png">
				Home
			</a>
			<a href="#">
				<img src="images/NotificationsLogo.png">
				Notifcations
			</a>
			<a href="#">
				<img src="images/DiscoverLogo.png">
				Discover
			</a>
			<a href="#">
				<img src="images/MeLogo.png">
				Me
			</a>
	</div>	

	<div class='scrolltop'>	
		<a href='#'><img src="images/ScrollTopLogo.png"></a>
	</div>

	<div class='right'>
		 <form class='search'>
		 	<input type='text' class='query' placeholder="Search">
		 </form>
		 <nav>
		 <a href="">
		 	<img src="images/MessagesLogo.png">
		 </a>
		 <a href="">
		 	<img src="images/SettingsLogo.png">
		 </a>
		 <a href="">
		 	<img src="images/ComposeLogo.png">
		 </a>
	</div>

	<br clear='all'>

	</header>
	<div class="left-dash">
		<a href="#">
			<div class="mini-profile">
				<img src="images/ProfPic.png">
				<p>OD</p>
				<p>@oliveris</p>
				</a>
			</div>
		<div class="prof-info"=>
			<table>
				<tr>
					<td>
						<a href="#">TWEETS 
							<p>90</p>	
						</a>
					</td>
					<td>
						<a href="#">FOLLOWING
							<p>537</p>
						</a>
					</td>
					<td>
						<a href="#">FOLLOWERS
							<p>41</p>
						</a>
					</td>			
			</table>
		</div>
		<div class='compose-box'>
			<form class='compose'>
				<input type='text' class='compose-tweet' placeholder='Compose new Tweet'>
			</form>
		</div>
		<div class='who-to-follow'>
			<div class='follow-suggestions'>
				<h3>Who to follow •</h3>
				<p> <a href="#">Refresh</a></p>
				<p> <a href="#">View all</a></p>
			</div>
			<div class='import-contacts'>
				<a href="#">
					<p>Find people you know</p>
					<p>Import your contact from Gmail</p>
				</a>
			</div>
			<div class='import-address-book'>
				<a href="#">Connect other address book</a>
			</div>
		</div>	
		<div class='trending'>
			<div class='trend-header'>
				<p>Trends •</p>
				<p> <a href="#">Change</a></p>
			</div>
			<div class='trending-topics'>
				<p><a href="#">Trend 1</a></p>
				<p><a href="#">Trend 2</a></p>
				<p><a href="#">Trend 3</a></p>
				<p><a href="#">Trend 4</a></p>
				<p><a href="#">Trend 5</a></p>
				<p><a href="#">Trend 6</a></p>
				<p><a href="#">Trend 7</a></p>
				<p><a href="#">Trend 8</a></p>
				<p><a href="#">Trend 9</a></p>
			</div>
		</div>	
		<div class='twitter-jargon'>
			<a href="#">© 2014 Twitter About Help Terms Privacy Cookies Ads Info Brand Blog Status Apps Jobs Advertise Businesses Media Developers</a>
		</div>
	</div>

</body>

